body{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.attendance-page{
    /* 3. Events for Super Admin */
/* Auto layout */
display: flex;
flex-direction: row;
}
.Nav-Panel{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 25px;

width: 275.19px;
height: 970px;

background: #FFFFFF;
border-right: 1px solid #E8E8E8;

}
.Content-Area{
    /* RIght */


width: 1650px;
height: 970px;

background: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}
.section-1{
 /* Frame 1000000927 */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 25px;
width: 1650px;
height: 105px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-bottom: 1px solid #E8E8E8;
}
.section-1 h1{
    /* Events */


width: 309px;
height: 46px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 52px;
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.section-1 .sub-section{
    /* Frame 1000000922 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 1px 0px 1px 12px;
gap: 20px;
width: 164px;
height: 55px;
background: #FFFFFF;
}
.section-1 .sub-section form{
display: flex;
flex-direction: row;
align-items: center;
}
.section-1 img {
    /* Frame 1000000923 */

padding: 0;
width: 60px;
height: 60px;

background: #666666;
border-radius: 100px;

/* Inside auto layout */

flex: none;
flex-grow: 0;
}
.profile-info{
    /* Frame 1000000925 */


/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
width: 100px;
height: 40px;
gap: 5px;
margin-left: 30px;
padding: 0;

background: #FFFFFF;

/* Inside auto layout */

flex: none;
flex-grow: 0;
}
.profile-info h3{
    /* Username */
margin: 0;

width: 100px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

color: #666666;


/* Inside auto layout */

flex: none;
flex-grow: 0;
}
.profile-info h6{
    /* Org Admin */

margin: 0;
width: 55px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 10px;
/* identical to box height, or 160% */

display: flex;
align-items: center;

color: #969696;


/* Inside auto layout */

flex: none;
flex-grow: 0;
}
.section-2{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 30px;
    width: 1650px;
}
.page-navigate{
   /* Frame 1000000850 */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 10px;
gap: 10px;

width: 1111px;
height: 40px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.page-navigate a{
    /* Events */
text-decoration: none;
width: 65px;
height: 30px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #A8A4A4;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.search-navigate{
 /* search section */


/* Auto layout */

display: flex;
flex-direction: row;

align-items: center;
padding: 0px;

width: 1111px;
height: 50px;

background: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
#searchbox{
 /* search bar */


/* Auto layout */

display: flex;
align-items: flex-start;
padding: 5px;
padding-left: 25px;
gap: 10px;
font-size: 15px;
border-radius: 10px;
border: 1px solid #b1b1b1;
width: 408px;
height: 30px;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#searchbox:focus{
    border: 2px solid #117D2C;
    outline: none !important;
}
#sortEvents{
/* Dropdowns */
padding: 0px 15px;
border-radius: 10px;
width: 110px;
height: 45px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: #666666;
/* Inside auto layout */
flex: none;
flex-grow: 0;
}
#sortEvents option{
/* sorting-dropdown */
box-sizing: border-box;

/* Auto layout */
position: relative;
width: 152px;
height: 155px;

background: #F9F9F9;
border: 0.5px solid #EAD3D3;
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
#searchButton{
    cursor: pointer;
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin-left: 10px;
    margin-right: 820px;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 120px;
    height: 45px;
    color: #FFFFFF;
    background: #117D2C;
    border: 1px solid #117D2C;
    border-radius: 10px;
    
    /* Inside auto layout */
    
    flex: none;
    flex-grow: 0;
}
#searchButton:hover{
    background-color: #14a137;
    border-color: #14a137;
}
.eventsArea{
    /* content area */
margin-top: 30px;
overflow-y: scroll;
width: 1600px;
height: 680px;


/* Inside auto layout */
display: flex;
flex-wrap: wrap;
order: 2;
flex-grow: 0;
}
.card{
/* card */
width: 450px;
height: 410px;
background: #f8f8f8;
border-radius: 10px;
display: flex;
flex-direction: column;
margin: 15px;
font-family: Arial, Helvetica, sans-serif;
}
.card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.card .upper-section{
/* upper section */
border-radius: 10px 10px 0px 0px;
width: 450px;
height: 160px;
background: #117D2C;
display: flex;
flex-direction: column;
padding-top: 50px;
}
.card .upper-section h3{
/* Host name here */

width: 121px;
height: 21px;
margin-left: 20px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 21px;
/* identical to box height */
margin-bottom: 5px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.card .upper-section h1{
/* Event Name Here */
margin-left: 20px;
width: 318px;
height: 41px;
margin-top: 0;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 40px;
/* identical to box height */
letter-spacing: 2px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.lower-section{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.lower-section h6{
    width: 200px;
    height: 12px;
    margin-top: 20px;
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 12px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #B0B0B0;
}
.lower-section .eventDescription{
    color: #B0B0B0;
    padding-left: 20px;
    width: 400px;
    letter-spacing: 1px;
    text-align: justify;
}
.lower-section .eventDescription h4{
    margin-bottom: 0;
    padding-bottom: 0;
}
.lower-section .eventDescription p{
    text-indent: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.lower-section .eventFines{
    margin-top: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 0;
    gap: 20px;
    color: #B0B0B0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lower-section .eventFines h4, .lower-section .eventFines p{
    padding-bottom: 0;
    margin-bottom: 0;
}
.lower-section a{
    cursor: pointer;
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin-left: 300px;
    margin-right: 820px;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 120px;
    height: 45px;
    color: #FFFFFF;
    background: #117D2C;
    border: 1px solid #117D2C;
    border-radius: 30px;
    
    /* Inside auto layout */
    
    flex: none;
    flex-grow: 0;
    text-decoration: none;
    
    
}