@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

/* all */

* {
    /* reset */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;

    /* color */

    --grey-base: #AEAEAE;
    --white-all: #FFFFFF;
    --grey-stroke: #E8E8E8;
    --black-all: #000000;
    --grey-text: #666666;
    --grey-text-2: #969696;
    --grey-text-3: #585757;
    --green-hover: #117D2C;
    --blue-text: #0000FF;
    --red-text: #FF0000;
    --red-text-2: #CE9E9E;
    --gradient-purple-l: #9747FF;
    --gradient-purple-d: #655B96;

    /* transition */

    --transition: all 0.5s ease-out; 

    /* box shadow */

    --box-shadow-y: 0.1rem 0 0.6rem var(--grey-stroke);
    --box-shadow-x: 0 0.1rem 0.6rem var(--grey-stroke);

    /* column gap */

    --column-gap: 1.5rem;
    --column-gap-2: 1.8rem;
    --column-gap-3: 4rem;

    /* border radius */
    --border-radius: 1rem;

    /* border stroke */
    --border-stroke: solid .2rem var(--grey-stroke);
}

/* global adjustment */

div.nav-logo > span, i, input{
    font-size: 1.6rem;
    font-weight: 100;
    color: var(--white-all);
}

div.nav-logo > span{
    font-size: 1.6rem;
    font-weight: 100;
    color: var(--black-all);
}

img {
    width: 3.2rem;
    height: auto;
}

/* body */

html {
    width: 100%;
    height: 100%;
}

body {
    width: inherit;
    height: inherit;
}

/* start nav-dashboard-container */

div.nav-dashboard-container {
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

/* start nav-sidebar */

div.nav-dashboard-container > nav.nav-sidebar {
    width: 28rem;
    height: inherit;
    background-color: var(--white-all);
    display: flex;
    flex-flow: column nowrap;
    padding: 0 2rem;
    box-shadow: var(--box-shadow-y);
    z-index: 1;
}

nav.nav-sidebar > div.nav-logo {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: var(--column-gap);
    padding: 4rem 0;
} 

div.nav-logo > * {
    cursor: pointer;
}

div.nav-logo > img {
    width: 3.2rem;
    height: auto;
}

div.nav-logo > span {
    font-weight: 700;
}

nav.nav-sidebar > div.nav-manage-links {
    width: 100%;
    height: auto;
}

div.nav-manage-links > ul {
    width: inherit;
    height: inherit;
}

div.nav-manage-links > ul > li {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: var(--column-gap-2);
    margin-bottom: 3rem;
    border-radius: 0.8rem;
    padding: 0.8rem 1rem 0.8rem 3rem;
    transition: var(--transition);
    cursor: pointer;
    color: var(--grey-text);
}

div.nav-manage-links > ul > li:hover {
    background-color: var(--green-hover);
    color: var(--white-all);

}

div.nav-manage-links > ul > li > * {
    cursor: pointer;
}

div.nav-manage-links > ul > li:nth-child(2) {
    margin-bottom: 5rem;
}

div.nav-manage-links > ul > li:nth-child(3) {
    margin-bottom: 1rem;
    padding-left: 0;
    background-color: transparent;
}

div.nav-manage-links > ul > li:nth-child(3) > span {
    color: var(--red-text-2);
    font-size: 1.4rem;
    cursor: initial;
}

div.nav-manage-links > ul > li:nth-child(7) {
    margin-bottom: 33rem;
}

div.nav-manage-links > ul > li > i {
    font-size: 1.6rem;
    color: inherit;
}

div.nav-manage-links > ul > li > a {
    color: inherit;
    border: none;
    background-color: transparent;
}

div.nav-manage-links > ul > li > a > span {
    font-size: 1.6rem;
    font-weight: 500;
    color: inherit;
}

div.nav-manage-links > ul > li > form {
    color: inherit;
}

div.nav-manage-links > ul > li > form > button{
    font-size: 1.6rem;
    font-weight: 500;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

div.nav-manage-links > ul > li > form > button > span {
    font-size: 1.6rem;
    font-weight: 500;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

/* end nav-sidebar */

/* start header */

div.nav-dashboard-container > main.dashboard {
    width: calc(100% - 28rem);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

main.dashboard > div.dashboard-header {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    box-shadow: var(--box-shadow-x);
}

div.dashboard-header > span {
    font-size: 5rem;
    font-weight: 700;
    color: var(--black-all);
}

div.dashboard-header > div.user {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: var(--column-gap-3);
    cursor: pointer;
}

div.user > img {
    width: 5.2rem;
    height: auto;
    border-radius: 5rem;
}

div.user > div.user-info {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}

div.user-info > span:first-child {
    font-size: 1.6rem;
    color: var(--grey-text);
}

div.user-info > span:last-child {
    font-size: 1.6rem;
    color: var(--grey-text-2);
}

/* end header */



/* Start of Content Area */
div.content-area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
} 

/* start of section-1 */
div.content-area > div.section-1{
    margin-bottom: 1rem;
}

div.content-area > div.section-1 > a{
    text-decoration: none;
}

div.content-area > div.section-1 > a > span{
    font-size: 2.1rem;
    color: var(--grey-base);
}
/* end of section-1 */

/* start of section-2 */
div.content-area > div.section-2{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1rem solid var(--gray-text2);
}

div.content-area > div.section-2 > div.sub-section > input{
    padding: 0.8rem;
    padding-left: 1.5rem;
    font-size: 1.3rem;
    border: 0.1rem solid var(--grey-base);
    border-radius: 0.7rem;
    width: 30rem;
    color: var(--gray-text);
}

div.content-area > div.section-2 > div.sub-section > input:focus{
    border: 0.2rem solid var(--green-hover);
    outline: none !important;
}

div.content-area > div.section-2 > div.sub-section > button{
    cursor: pointer;
    height: 3.7rem;
    margin-left: 1rem;
    width: 10rem;
    border-radius: 0.7rem;
    border: none;
    background-color: var(--green-hover);
    color: var(--white-all);
    font-size: 1.3rem;
}
div.content-area > div.section-2 > div.sub-section > button:hover{
    background-color: #14a137;
    border-color: #14a137;
}

div.content-area > div.section-2 > select{
    cursor: pointer;
    height: 3.7rem;
    width: 7rem;
    font-size: 1.3rem;
    border-radius: 0.7rem;
    color: var(--grey-text);
    border: 0.1rem solid var(--grey-base);
    background-color: var(--gray-text2);
}

div.content-area > div.section-2 > select:focus{
    border: 0.2rem solid var(--green-hover);
    outline: none !important;
}

div.content-area > div.section-2 > select > option{
    font-size: 1.3rem;
    border: 0.1rem solid var(--grey-base);
}
/* end of section-2 */

/* section-3 */
div.content-area > div.section-3{
    padding: 2rem;
    width: 100%;
    height: 90%;
    background-color: var(--white-all);
    overflow-y: scroll;
    overflow-x: hidden;
}

div.content-area > div.section-3 > div.card-holder{
    background-color: #f8f8f8;
    width: 45rem;
    height: 41rem;
    border-radius: 0.5rem;
}

div.content-area > div.section-3 > div.card-holder:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

div.content-area > div.section-3 > div.card-holder > div.card-upper-section{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: var(--green-hover);
    height: 35%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 6.5rem;
}

div.content-area > div.section-3 > div.card-holder > div.card-upper-section > span:first-child{
    color: var(--white-all);
    font-size: 1.6rem;
    
}

div.content-area > div.section-3 > div.card-holder > div.card-upper-section > span:last-child{
    color: var(--white-all);
    font-size: 3.2rem;
}

div.content-area > div.section-3 > div.card-holder > div.card-bottom-section{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

div.card-holder > div.card-bottom-section > div.bottom-section-contents > div.sub-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

div.card-holder > div.card-bottom-section > div.bottom-section-contents > div.sub-section > span{
    color: var(--gray-text2);
    font-size: 1.4rem;
    font-weight: 500;
}

div.card-holder > div.card-bottom-section > div.bottom-section-contents > div.sub-section > div.progress{
    display: flex;
    flex-direction: column;
}

div.card-holder > div.card-bottom-section > div.bottom-section-contents > div.sub-section > div.progress > span{
    color: var(--gray-text2);
    font-size: 1rem;
    align-self: flex-end;
}

div.card-holder > div.card-bottom-section > div.bottom-section-contents > div.sub-section > div.progress > div.progress-bar{
    background-color: var(--grey-base);
    height: 0.7rem;
    width: 18rem;
    border-radius: 5rem;
}

div.card-holder > div.card-bottom-section > div.bottom-section-contents > div.sub-section > div.progress > div.progress-bar > div{
    background-color: var(--green-hover);
    height: 0.7rem;
    width: 75%;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

div.card-holder > div.card-bottom-section > div.bottom-section-contents > div.sub-section > div.progress > div.progress-bar > span{
    font-size:3.2rem;
}

div.card-holder > div.card-bottom-section > div.bottom-section-contents > span.span-titles{
    color: var(--gray-text2);
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
}

div.card-holder > div.card-bottom-section > div.bottom-section-contents > span.span-titles > p, div.card-holder > div.card-bottom-section > div.bottom-section-contents > p{
    font-size: 1.3rem;
    text-align: justify;
    text-indent: 3rem;
    margin-bottom: 2rem;
}

div.card-holder > div.card-bottom-section > button{
    cursor: pointer;
    height: 3.7rem;
    margin-left: 1rem;
    width: 10rem;
    border-radius: 0.7rem;
    border: none;
    background-color: var(--green-hover);
    color: var(--white-all);
    font-size: 1.3rem;
    align-self: flex-end;
}
div.card-holder > div.card-bottom-section > button:hover{
    background-color: #14a137;
    border-color: #14a137;
}

/* end of section-3 */


/* end of Content Area */

