@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

/* all */

* {
    /* reset */

    /* NOTE: 62.5% = 10px, 1rem = 10px */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    line-height: 0;


    /* color */

    /* test color */

    --grey-base: #AEAEAE;


    /* unknown */
    --grey-text-3: #585757;


    /* global colors */

    --white-all: #FFFFFF;
    --black-all: #000000;


    /* hover effect color */
    --green-hover: #117D2C;


    /* border color */

    --grey-stroke: #E8E8E8;
    --grey-stroke-2: #AAA3FE;


    /* navigation sidebar font color */

    --grey-text: #666666;
    --red-text-2: #CE9E9E;


    /* profile/clearance status color */
    --grey-text-2: #969696;


    /* event font color */
    --gray-text-4: #9E9E9E;


    /* dashboard statistics font color */

    --blue-text: #0000FF;
    --red-text: #FF0000;

    /* super admin banner color */

    --gradient-purple-l: #9747FF;
    --gradient-purple-d: #655B96;


    /* test color pallete */

    --gradient-blue-l: #26476D;
    --gradient-blue-d: #E8E8E800;


    /* global transition */

    --transition: all 0.5s ease-out; 


    /* global box shadow */

    --box-shadow-y: 0.1rem 0 0.4rem var(--black-all);
    --box-shadow-x: 0 .1rem 0.4rem var(--black-all);


    /* column gap */

    /* nav column gap */

    --column-gap-1: 1.3rem;


    --column-gap-2: 2.3rem;
    --column-gap-3: 3rem;

    /* global border radius */
    --border-radius: .8rem;


    /* global border stroke */

    --border-stroke-all: solid .1rem var(--grey-stroke);
    --border-stroke-all-2: solid .1rem var(--grey-stroke-2);
}

/* start global base adjustments */

/* img {
    width: 3.2rem;
    height: auto;
} */

/* h1, span, i {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black-all);
} */

/* end global base adjustments */

html {
    width: 100%;
    height: 100%;
}

body {
    width: inherit;
    height: inherit;
    /* background-color: grey; */
}

/* start nav dashboard container */

div.nav-dashboard-container {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* start nav sidebar container */

div.nav-dashboard-container > nav.nav-sidebar {
    background-color: var(--white-all);
    width: 28rem;
    height: 100%;
    position: fixed;
    box-shadow: var(--box-shadow-y);
    z-index: 2;
}

/* start nav sidebar logo container */

nav.nav-sidebar > a.nav-logo {
    background-color: transparent;
    width: inherit;
    height: 11.1rem;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: var(--column-gap-1);
    border-bottom: var(--border-stroke-all);
}

nav.nav-sidebar > a.nav-logo > img {
    background-color: inherit;
    width: 3.8rem;
    height: auto;
    position: relative;
    cursor: pointer;
}

nav.nav-sidebar > a.nav-logo > span {
    background-color: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black-all);
    cursor: pointer;
}

/* end nav sidebar logo container */


/* start nav sidebar links container */

nav.nav-sidebar > ul.nav-manage-links {
    background-color: transparent;
    width: inherit;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

nav.nav-sidebar > ul.nav-manage-links > li {
    background-color: transparent;
    color: var(--grey-text);
    width: 23.5rem;
    height: 4.5rem;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2.5rem;
    margin: 2rem;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

nav.nav-sidebar > ul.nav-manage-links > li:hover {
    background-color: var(--green-hover);
    color: var(--white-all);
    box-shadow: var(--box-shadow-x);
}

nav.nav-sidebar > ul.nav-manage-links > li:nth-child(3) {
    background-color: transparent;
    color: var(--red-text-2);
    position: relative;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}

nav.nav-sidebar > ul.nav-manage-links > li:nth-child(3) > span {
    background-color: inherit;
    color: var(--red-text-2);
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
}

nav.nav-sidebar > ul.nav-manage-links > li:nth-child(4) {
    margin-top: 0;
}


nav.nav-sidebar > ul.nav-manage-links > li > a {
    background-color: transparent;
    position: relative;
    color: inherit;
}

nav.nav-sidebar > ul.nav-manage-links > li > a > i {
    background-color: inherit; 
    position: relative;
    padding-left: .5rem;
    padding-right: 2.8rem;
    font-size: 1.6rem;
    color: inherit;
    cursor: pointer;
}

nav.nav-sidebar > ul.nav-manage-links > li > a > span {
    background-color: inherit;
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    color: inherit;
    cursor: pointer;
}

/* end nav sidebar links container */

/* end nav sidebar container */

/* start dashboard container */

div.nav-dashboard-container > main.dashboard {
    background-color: transparent;
    width: calc(100% - 28rem);
    height: 100%;
    position: relative;
    left: 28rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* start dashboard header container */

div.nav-dashboard-container > main.dashboard > div.dashboard-header {
    background-color: var(--white-all);
    width: inherit;
    height: 11.1rem;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    border-bottom: var(--border-stroke-all);
    box-shadow: var(--box-shadow-x);
    z-index: 1;
}

div.dashboard-header > span {
    background-color: transparent;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--black-all);
    cursor: pointer;
}

div.dashboard-header > div.user {
    background-color: transparent;
    width: 28rem;
    height: inherit;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: var(--column-gap-3);
}

div.user > div.user-profile {
    background-color: transparent;
    width: auto;
    height: inherit;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: var(--column-gap-1);
    transition: var(--transition);
}

div.user > div.user-profile > img {
    background-color: inherit;
    width: 3.8rem;
    height: auto;
    position: relative;
    cursor: pointer;
    border-radius: 5rem;
}

div.user-profile > div.dropdown {
    background-color: transparent;
    width: auto;
    height: inherit;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

div.dropdown > i {
    background-color: inherit;
    color: var(--grey-text);
    position: relative;
    font-size: 1.6rem;
    cursor: pointer;
    transition: var(--transition);
}

div.dropdown > i:hover {
    color: var(--green-hover);
}

div.dropdown > ul.menu {
    display: none;
}

div.dropdown > ul.menu-active {
    background-color: var(--white-all);
    width: 20rem;
    height: auto;
    position: absolute;
    right: 0;
    bottom: -15.8rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border: var(--border-stroke-all);
    border-radius: var(--border-radius);
}

ul.menu-active > li {
    background-color: transparent;
    color: var(--grey-text);
    width: inherit;
    height: 4.5rem;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-top: var(--border-stroke-all);
    border-bottom: var(--border-stroke-all);
    transition: var(--transition);
}

ul.menu-active > li:hover {
    background-color: var(--green-hover);
    color: var(--white-all);
}

ul.menu-active > li > a {
    background-color: transparent;
    color: inherit;
    position: relative;
    cursor: pointer;
}

ul.menu-active > li > a > span {
    background-color: inherit;
    color: inherit;
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
}

ul.menu-active li > form {
    background-color: transparent;
    color: inherit;
    position: relative;
}

ul.menu-active > li > form > button {
    background-color: inherit;
    color: inherit;
    position: relative;
    padding: 0;
    border: none;
    cursor: pointer;
}

ul.menu-active li > form > button > span{
    background-color: inherit;
    color: inherit;
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
}

div.user > div.user-info {
    background-color: transparent;
    width: 13rem;
    height: inherit;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1.8rem;
}

div.user-info > span:first-child {
    background-color: transparent;
    color: var(--grey-text);
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

div.user-info > span:last-child {
    background-color: transparent;
    color: var(--grey-text-2);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

/* end dashboard header container */

/* start dashboard main container */

div.nav-dashboard-container > main.dashboard > div.dashboard-main {
    background-color: transparent;
    width: 100%;
    height: calc(100% - 11.1rem);
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 18.75rem) 8.5rem repeat(4, 18.75rem) repeat(1, 1fr);
    grid-template-rows: repeat(2, 7.75rem) 3rem 5rem repeat(12, 1fr);
    grid-gap: 1rem;
    /* 10 x 7 */
    grid-template-areas: 
    ". banner banner banner banner . calendar calendar"
    ". banner banner banner banner . calendar calendar"
    ". overview . . . . calendar calendar"
    ". dropdown dropdown dropdown dropdown . calendar calendar"
    ". graph-1 graph-1 graph-2 graph-2 . calendar calendar"
    ". graph-1 graph-1 graph-2 graph-2 . calendar calendar" 
    ". graph-1 graph-1 graph-3 graph-3 . event event"
    ". graph-1 graph-1 graph-3 graph-3 . event event"
    ". graph-1 graph-1 graph-4 graph-4 . event event"
    ". graph-1 graph-1 graph-4 graph-4 . event event"
    ". data data data data . event event"
    ". data data data data . event event"
    ". data data data data . event event"
    ". data data data data . . ."
    ". data data data data . . ."
    ". data data data data . . ."
    ;
    padding: 2rem;
}

div.dashboard-main > div.dashboard-banner {
    grid-area: banner;
    border: solid red 5px;
}

div.dashboard-main > div.dashboard-calendar {
    grid-area: calendar;
    border: solid green 5px;
}

div.dashboard-main > div.dashboard-overview {
    grid-area: overview;
    border: solid yellow 5px;
}

div.dashboard-main > div.dashboard-dropdown {
    grid-area: dropdown;
    border: solid blue 5px;
}

div.dashboard-main > div.dashboard-graph-1 {
    grid-area: graph-1;
    border: solid violet 5px;
}

div.dashboard-main > div.dashboard-graph-2 {
    grid-area: graph-2;
    border: solid grey 5px;
}

div.dashboard-main > div.dashboard-graph-3 {
    grid-area: graph-3;
    border: solid indigo 5px;
}

div.dashboard-main > div.dashboard-graph-4 {
    grid-area: graph-4;
    border: solid yellowgreen 5px;
}

div.dashboard-main > div.dashboard-event {
    grid-area: event;
    border: solid aqua 5px;
}

div.dashboard-main > div.dashboard-data {
    grid-area: data;
    border: solid orange 5px;
}

/* end dashboard main container */


/* end dashboard container */


/* end nav dashboard container */