/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

* {
  /* reset */
  /* NOTE: 62.5% = 10px, 1rem = 10px */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  /* color */
  /* test color */
  --grey-base: #aeaeae;
  /* unknown */
  --grey-text-3: #585757;

  --grey-hover: #f9f9f9;
  /* global colors */
  --white-all: #ffffff;
  --black-all: #000000;
  /* hover effect color */
  --green-hover: #117d2c;
  /* border color */
  --grey-stroke: #e8e8e8;
  --grey-stroke-2: #aaa3fe;
  /* navigation sidebar font color */
  --grey-text: #666666;
  --red-text-2: #ce9e9e;
  /* profile/clearance status color */
  --grey-text-2: #969696;
  /* event font color */
  --gray-text-4: #9e9e9e;
  /* dashboard statistics font color */
  --blue-text: #0000ff;
  --red-text: #ff0000;
  /* super admin banner color */
  --gradient-purple-l: #9747ff;
  --gradient-purple-d: #655b96;
  /* test color pallete */
  --gradient-blue-l: #26476d;
  --gradient-blue-d: #e8e8e800;
  /* global transition */
  --transition: all 0.5s ease-out;
  /* global box shadow */
  --box-shadow-y: 0.1rem 0 0.4rem var(--black-all);
  --box-shadow-x: 0 0.1rem 0.4rem var(--black-all);
  /* column gap */
  /* nav column gap */
  --column-gap-1: 1.3rem;
  --column-gap-2: 2.3rem;
  --column-gap-3: 3rem;
  /* global border radius */
  --border-radius: 0.8rem;
  /* global border stroke */
  --border-stroke-all: solid 0.1rem var(--grey-stroke);
  --border-stroke-all-2: solid 0.1rem var(--grey-stroke-2);
}

:root {
  --primary-color: #117d2c;
  --button-primary: #198754;
  --button-primary-shaded: #105636;
}

html {
  /* font-size: 100%; */
  width: 100%;
  height: 100%;
}

span,
i,
input,
option {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black-all);
}

select#session {
  font-size: 16px;
}

img {
  width: 3.2rem;
  height: auto;
}

/* List Header - composed of search engine component, sort component, create button */
/* start of list header */
div.search-navigate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 10px;
  width: 100%;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  flex-flow: wrap;
}

/* end of list header */
/* start of left part list header*/
div.left-search-navigate {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px;
  gap: 20px;
  height: inherit;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex-flow: wrap;
}

div.left-search-navigate input.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  width: 408px;
  height: inherit;
  background: #fffafa;
  border: 1px solid var(--grey-stroke);
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #fffafa;
  border: 1px solid var(--grey-stroke);
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.left-search-navigate input.search:focus {
  border: 0.2rem solid var(--green-hover);
  outline: none !important;
}

div.left-search-navigate input.search::placeholder {
  color: var(--grey-stroke);
  opacity: 1;
}

div.left-search-navigate input.search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--grey-stroke);
}

div.left-search-navigate input.search::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--grey-stroke);
}

/* end of left part list header*/
/* start of right part list header */
div.right-search-navigate {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px;
  gap: 20px;
  height: inherit;
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.right-search-navigate button.create-button {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  gap: 10px;
  height: 100%;
  border: 1px solid #117d2c;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.right-search-navigate button.create-button:hover {
  background-color: var(--button-primary-shaded);
}

div.right-search-navigate select.sort {
  box-sizing: border-box;
  display: flex;
  width: auto;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
  font-size: 16px;
  height: inherit;
  background: var(--white-all);
  border: 2px solid #cccccc;
  border-radius: 8px;
  align-self: stretch;
  flex-grow: 0;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: #fafafa;
  width: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
  padding: 10px;
}

div.right-search-navigate select.sort:focus {
  border: 0.2rem solid var(--green-hover);
  outline: none !important;
}

/* end of right part list header*/

/* start of table */
table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-collapse: collapse;
  color: var(--grey-text-3);
}

thead,
tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

thead tr.row-header,
tbody tr.row-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: px;
  border-bottom: 1px solid var(--grey-stroke);
  font-size: 1.5rem;
  align-items: center;
}

thead th,
tbody td,
tbody th {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 16.67%;
  font-size: 1.5rem;
}

tbody tr.row-body:hover {
  background: var(--grey-hover);
}

/* start of buttons in table */
.btn-group-sm {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 148px;
  height: 56px;
  flex: none;
  order: 7;
  flex-grow: 0;
}

.btn-group-sm a.crud-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-group-sm a.crud-button:hover {
  background: var(--button-primary);
  color: var(--white-all);
}

.btn-group-sm a.crud-button:hover span {
  color: var(--white-all);
}

.btn-group-sm a.crud-button span {
  font-size: 16px !important;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* end of buttons in table */
/* end of table */

/* start of modal for all type of modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000000000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
  background-color: var(--black-all);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal::-webkit-scrollbar {
  display: none;
}
/* start of modal content */
.modal-content {
  border-radius: 8px;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* start of modal content buttons */
.close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 89px;
  height: 48px;
  background: #efeffd;
  border-radius: 8px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
  color: var(--button-primary);
  font-weight: 700;
}

.group-of-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 10px;
  width: 100%;
  height: 54px;
  gap: 20px;
  /* Inside auto layout */
  flex: none;
  order: 6;
  align-self: stretch;
  flex-grow: 0;
}

.group-of-buttons .submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: var(--button-primary);
  gap: 8px;
  width: 89px;
  height: 48px;
  border-radius: 8px;
  font-weight: 700;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
  cursor: pointer;
}

.close:hover,
.close:focus,
.group-of-buttons .submit:hover,
.group-of-buttons .submit:focus {
  font-size: 14px;
}

.group-of-buttons .submit:hover,
.group-of-buttons .submit:focus {
  background-color: var(--button-primary-shaded);
}

.input-container .input-for-1 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 8px;
  width: 100%;
  height: 74px;
  /* Inside auto layout */
}

/* end of modal content buttons */

/* start of modal content-form */
form.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form.form .title-form-div {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 10px;
  height: 64px;
  background: #ffffff;
  border-bottom: 1px solid var(--grey-stroke);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  font-size: 36px;
}

form.form .input-container {
  display: flex;
  flex-direction: row;
  padding: 3px 10px;
  gap: 20px;
  width: 100%;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

form.form .input-container .input-for-3 {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 8px;
  width: calc(100% / 3);
  height: 74px;
}

form.form .input-container .input-for-2 {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 8px;
  width: 50%;
  height: 74px;
}

form.form .input-container label {
  width: 100%;
  height: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  flex: none;
  order: 0;
  flex-grow: 0;
}

form.form .input-container .input {
  display: flex;
  padding: 12px 16px;
  gap: 8px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
form.form .input-container .input:focus {
  border: 0.2rem solid var(--green-hover);
  outline: none !important;
}
/* end of modal content-form */

/* end of modal content */
/* end modal*/

/* read and delete modal */

.submit.delete-confirmation {
  width: 100%;
  background: #efeffd;
  color: var(--button-primary);
}

.submit.delete-confirmation:hover {
  color: white;
}

/* end nav sidebar container */
div.content-area {
  width: 100%;
  height: calc(100% - 11.1rem);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#delete_event_modal .modal-content {
  max-width: 800px;
  color: #4a4a68;
  border: 2px solid #efeffd;
}

#read_event_modal .modal-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  max-width: 800px;
  color: #4a4a68;
  overflow: hidden;
  border: 2px solid #efeffd;
}

#read_event_modal h1 {
  font-weight: 500;
  font-size: 1.5rem;
}

#read_event_modal p,
#delete_event_modal .modal-content form .input-container p,
#delete_event_modal .modal-content form b {
  text-align: justify;
  font-size: 1.5rem;
}

#read_event_modal .right-part {
  width: 331px;
  height: 100%;
  background: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#read_event_modal .right-part img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#read_event_modal .left-part {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 20px 0;
}

#read_event_modal .left-part li {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
